<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be Merry Shop</title>

</head>
<body>
  <div id='app' class="mt-5">
    <v-app>
    <v-main>{{{body}}}</v-main>
    </v-app>
  </div>
</body>
</html>